{% for question in questions %}
    <strong name="message" id="message"></strong>
    <div class="colorb">
        <div class="question-summary" >
            <div class="started fr">
                <div class="user-info">
                    <div class="user-gravatar32">
                        <a href="{{ url_for('.user', username=question.author.username) }}"><div class="gravatar-wrapper-32"><img src="{{ question.author.gravatar(size=32) }}" alt="" height="32" width="32"></div></a>
                    </div>
                    <div class="user-details">
                        <a href="{{ url_for('.user', username=question.author.username) }}">{{ question.author.username }}</a>
                        <span class="reputation-score" title="reputation score " dir="ltr">106</span>
                    </div>
                </div>
                <div class="user-action-time">
                    <div class="time">
                        asked <span title='{{ moment(question.timestamp).fromNow() }}' class="relativetime">{{ moment(question.timestamp).fromNow() }}</span>
                    </div>
                </div>
            </div>

            <div class="summary">
                <div class="tools">
                    {% if current_user == question.author %}
                    <a href="{{ url_for('.edit', id=question.id) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ url_for('.delete', id=question.id) }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    {% elif current_user.is_administrator() %}
                    <a href="{{ url_for('.edit', id=question.id) }}">
                        <span class="label label-danger">Edit [Admin]</span>
                    </a>
                    {% endif %}
                </div>
                <h3>
                    <a href="{{ url_for('.question', id=question.id) }}" class="question-hyperlink">
                        {{ question.qust }}
                    </a>
                </h3>
                <div class="excerpt question-{{question.id}}">
                    {% if question.body_html %}
                            {{ question.body_html | safe }}
                    {% else %}
                            {{ question.body }}
                    {% endif %}
                </div>         
                {% if tags.has_key(question.id) %}
                    <div class="table">
                        <ul id="horizontal-list">
                            {% for x in tags[question.id] %}
                                <li><a href="{{url_for('.categori', name=x )}}">{{ x }}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                {% endif %}
                <div class="{% if state %}updown{% else %}hidden{% endif %}">
                    <a href=# id="plus"><span class="glyphicon glyphicon-hand-up"></span></a>
                    <a href=# id="minus"><span class="glyphicon glyphicon-hand-down"></span></a>
                </div>
                <div class="statscontainer">
                    <div class="stats">
                        <div class="vote">
                            <div class="votes">
                                <span class="vote-count-post "></span>
                                <strong name="vote" id="resultvote">{{ question.votat|int }}</strong><strong> vote</strong>
                                <input type="hidden" size="5" name="question_id" value="{{ question.id }}">
                            </div>
                        </div>
                        <div class="status answered">
                            <strong>{{ question.comments.count() }}</strong><strong> answer</strong>
                        </div>
                    </div>
                    <div class="views " title="15 views">
                        <strong>{{question.views}}</strong><strong> views</strong> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
 